.todo-item {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.todo-item .edit-input {
    font: inherit;
    border: 2px solid white;
    border-radius: 16px;
}

.todo-item .edit-input:focus {
    outline: none;
    border-color: #1D4E56;
}